<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<body>
  <br>
   Mi nombre es Christian Mauricio Diaz
  <br>
  <br>
Fisicamente:
  <br>
  - Cabello largo, liso y negro
  <br>
  - Mestizo
  <br>
  - Altura de 1.70mt.
  <br>
  - Ojos negros
  <br>
  <p> Aficionado del deporte, mas del futbol, me gusta mucho el tema de redes y me gusta dibujar.
    <br>
    
    <br>
  </p>
</body>
</ion-content>
