<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metas Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
 <body>
   <p>
    Metas personal: Acabar mi carrera y poner en practica mis conocimientos en el campo laboral, ya que me dedico a trabajar en una empresa de telecomunicaciones
    <br>
    Llegar a tener estabilidad economica
    <br>
    <br>
    Metas profesionales:Usar todos mis conocimientos y que asi sirvan a los demas, cuando sean compartidos.
    <br>
    
    <br>
    <br>
    <br>
   
    <br>
    <br>
    Metas a largo y mediano plazo:acabar los estudios, ejercermi profesion, tomar la empresa de mi padre con gran responsabilidad, tanto como ahora.
    <br> en donde ejerco actualmente.




   </p>
 </body>
</ion-content>
